<html>
    <header>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="./index.css">

        <title>LoginProject</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type="text/javascript" src="loginController.js"></script>
        <script type="text/javascript" src="registerController.js"></script>
    </header>
    <body ng-app="myApp">
        <div class="loginContainer container">
            <div class="loginContainer__content" ng-controller="loginCtrl">
                <form>
                    <h1>Login</h1>
                    <p class="loginContainer__content__errorText">Either the email or the password is wrong. Please try again.</p>
                    <label for="email">E-Mail:</label> <br>
                    <input id="email" name="email" ng-model="data.email" placeholder="e-mail" type="email" ng-change="checkValidation()" required/><br>
                    <label for="password">Password:</label> <br>
                    <input id="password" name="password" ng-model="data.password" placeholder="password" type="password" ng-change="checkValidation()" minlength="8" required/><br>
                    <label class="checkbox" for="signIn"> stay sign in
                        <input type="checkbox" id="signIn" name="signIn" ng-model="data.signIn" ng-change="checkValidation()">
                        <span class ="checkbox__span"></span>
                    </label><br>
                    <button class="loginContainer__content__button button" ng-click="login()">login</button>
                </form>
                <p>OR</p>
                <div>login with <img src="./icons/facebook.png" ng-click="clickIconLogin()"> or  <img src="./icons/google.png" ng-click="clickIconLogin()"></div>
                <p>OR</p>
                <div>if you have not registert yet, do it now <a href=""  onclick="document.getElementById('alert').classList.add('alert--show');document.getElementById('alert__register').classList.add('alert--show');">here</a>.</div>
            </div>
        </div>
        <div class="siteContainer container">
            <div class="siteContainer__content">
                <img src="./icons/octopus.png">
                <p>This is the awesome Kraken site. <br> Login and see what you can do!</p>
            </div>
        </div>
        <div class="alert" id="alert">
            <div class="alert__login alert__container" id="alert__login">
                <p>In the moment it is impossible to login with Google or Facebook. <br>
                    We will work on it, so it es possible as soon as possible.</p>
                <button class="alert__button button" onclick="document.getElementById('alert').classList.remove('alert--show');document.getElementById('alert__login').classList.remove('alert--show');">ok</button>
            </div>
            <div class="alert__register alert__container" id="alert__register"  ng-controller="registerCtrl">
                <form>
                    <h1>Register</h1>
                    <p class="alert__register__errorText">Something went wrong. Please try again later.</p>
                    <p class="alert__register__errorText--email">The E-Mail is already taken. Please try again.</p>
                    <label for="firstname">Firstname:</label><br>
                    <input id="firstname" ng-model="data.firstname" name="firstname" placeholder="firstname" type="text" ng-change="checkValidation()" required/><br>
                    <label for="lastname">Lastname:</label><br>
                    <input id="lastname" ng-model="data.lastname" name="lastname" placeholder="lastname" type="text" ng-change="checkValidation()" required/><br>
                    <label for="emailRegister">E-Mail:</label><br>
                    <input id="emailRegister" ng-model="data.email" name="emailRegister" placeholder="e-mail" type="email" ng-change="checkValidation()" required/><br>
                    <label for="passortRegister">Password: (min length 8)</label><br>
                    <input id="passortRegister" ng-model="data.password" name="passortRegister" placeholder="passwort" type="password" ng-change="checkValidation()" minlength="8" required/><br>
                    <label class="checkbox" for="agree"> I agree to <a>User Agreement</a>, <a>Privacy Policy</a> and <a>Cookie Policy</a>.
                        <input type="checkbox" ng-model="data.agree" id="agree" name="agree" value="agree" ng-change="checkValidation()" required>
                        <span class ="checkbox__span"></span>
                    </label><br>
                    <button class="alert__register__button button" ng-click="register()">register</button>
                    <button class="alert__register__button button" ng-click="cancel()">cancel</button>
                </form>
            </div>
        </div>
    </body>
</html>
